
    footer{
        background-color: blueviolet;
        color: #fff;
        padding: 10px ;
        text-align: center;
        margin-top: 10px;
        p{
            margin-top: auto;
        }
        h2{
            text-align: center;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
}